body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: rgb(222, 225, 217);
}

.container {
    width: 80%;
    margin: 20px auto;
}

h1 {
    text-align: center;
}

.filters {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    font-weight: bold;
}

form input, form button {
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.flights, .seats {
    margin-top: 30px;
}

.flights ul {
    list-style: none;
    padding: 0;
}

.flights li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
}

.flights li:hover {
    background-color: #f0f0f0;
}

.seat-map {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.seat {
    width: 40px;
    height: 40px;
    background-color: #b2b2b2;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.seat.booked {
    background-color: #ff6347;
    pointer-events: none;
}

.seat.available {
    background-color: #32cd32;
}

.seat.selected {
    background-color: #ffa500;
}
